

p{
    font-family: Arial, Helvetica, sans-serif;
}


.price{
    font-size: 16px;
    font-weight: bold;
}

.currency{
    font-size: 12px;
    font-weight: bold; 
    color: rgba(128, 128, 128, 0.493);
}

.index-measurement{
    color: rgb(27, 158, 27);
}



.description{
    color: rgba(128, 128, 128, 0.493);
}


.index-measurement_2{
color: red;
}